{% extends "base.html" %}
{% load static %}
{% block content %}
<!-- Dashboard CSS -->
<div class="container-fluid mb-4">
	<!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-2 text-gray-800">
            <i class="fas fa-fw fa-table"></i>
            <span class="text">Chart Sample</span>
        </h1>
    </div>
	<div class="row">
        <div class="col-sm-6">
            <canvas class="my-2 w-100" id="doughnut-chart"></canvas>
        </div>
        <div class="col-sm-6">
            <canvas class="my-2 w-100" id="line-chart"></canvas>
        </div>
        <div class="col-sm-6">
            <canvas class="my-2 w-100" id="bar-chart"></canvas>
        </div>
        <div class="col-sm-6">
            <canvas class="my-2 w-100" id="horizonTalBar-chart"></canvas>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script type='text/javascript'>
    const doughnutConfig = {                                        //https://www.chartjs.org/docs/2.9.4/charts/bar.html
        type: 'doughnut',                                           //Chart Type ex: doughnut, pie, line, bar ...
        data: {                                                     //Data Setting
            labels: ['red', 'blue', 'yellow', 'green', 'orange'],   //라벨 명칭
            datasets: [{
                data: [5, 6, 7, 1, 10],                             //데이터
                backgroundColor: [                                  //chart 컬러
                    window.chartColors.red,
                    window.chartColors.blue,
                    window.chartColors.yellow,
                    window.chartColors.green,
                    window.chartColors.orange,
			    ]
            }],
        },
        options: {                                                  //chart Option
            plugins: {                                              //chart 기본 옵션 외 plugin
                doughnutlabel: {                                    //doutnut 안쪽 텍스트 설정()
                    labels: [                                       //배열구조로 {}로 N개 Line으로 설정 가능 추가 기능 API문서 참조
                        {
                            text: 'getTotal'
                        },
                        {
                            text: '1'
                        }
                    ]
                },
                outlabels: {                                        //chart label 고정 플러그인(https://piechart-outlabels.netlify.app/options)
                    text: '%l :  %v',                               //%l = label, %v = value, %p = percentage
                    borderRadius: 15,                               //label테두리 굴곡
                    color: 'black',
                    stretch: 20,                                    //line 길이
                    font: {
                        resizable: true,
                        minSize: 12,
                        maxSize: 18
                    },
                    textAlign: "center"
                }
            },
            title: {
                display: true,
                text: 'Doughnut Chart Sample'
            },
             legend: {
                position : 'bottom'
             },
             responsive : true,
			cutoutPercentage: 80
        },
    };

    const lineConfig = {                                        //https://www.chartjs.org/docs/2.9.4/charts/bar.html
        type: 'line',                                           //Chart Type ex: doughnut, pie, line, bar ...
        data: {                                                 //Data Setting
            labels: ['Jan', 'Feb', 'Mar', 'Apl', 'May'],        //라벨 명칭
            datasets: [
                {
                    label: 'dataset1',
                    data: [5, 6, 7, 1, 10],                     //데이터
                    fill: false,                                //chart backgroundcolor 채우기 여부
                    borderColor: window.chartColors.red
                },
                {
                    label: 'dataset2',
                    data: [-1, 22, 5, 3, 2],
                    fill: false,
                    backgroundColor: window.chartColors.blue,
                    borderColor: window.chartColors.blue
                }
            ],
        },
        options: {                                               //chart Option
            plugins: {                                           //chart 기본 옵션 외 plugin
                doughnutlabel: {                                 //doutnut 안쪽 텍스트 설정(https://piechart-outlabels.netlify.app/options)
                    labels: [                                    //배열구조로 {}로 N개 Line으로 설정 가능 추가 기능 API문서 참조
                        {
                            text: 'getAverage'
                        },
                        {
                            text: '1'
                        }
                    ]
                }
            },
            title: {
                display: true,
                text: 'Line Chart Sample'
            },
             legend: {
                position : 'bottom'
             },
             responsive : true
        },
    };

    const barConfig = {                                         //https://www.chartjs.org/docs/2.9.4/charts/bar.html
        type: 'bar',                                            //Chart Type ex: doughnut, pie, line, bar ...
        data: {                                                 //Data Setting
            labels: ['Jan', 'Feb', 'Mar', 'Apl', 'May'],        //라벨 명칭
            datasets: [
                {
                    label: 'dataset1',
                    data: [5, 6, 7, 1, 10],                     //데이터
                    backgroundColor: window.chartColors.red     //bar Color
                },
                {
                    label: 'dataset2',
                    data: [-1, 22, 5, 3, 2],
                    backgroundColor: window.chartColors.blue
                }
            ],
        },
        options: {                                               //chart Option
            plugins: {
            },
            elements: {
              bar: {
                borderWidth: 2,
              }
            },
            title: {
                display: true,
                text: 'Bar Chart Sample'
            },
             legend: {
                position : 'bottom'
             },
             responsive : true
        },
    };

    const horizonTalBarConfig = {                                  //https://www.chartjs.org/docs/2.9.4/charts/bar.html
        type: 'horizontalBar',                                  //Chart Type ex: doughnut, pie, line, bar ...
        data: {                                                 //Data Setting
            labels: ['Jan', 'Feb', 'Mar', 'Apl', 'May'],        //라벨 명칭
            datasets: [
                {
                    label: 'dataset1',
                    data: [5, 6, 7, 1, 10],                     //데이터
                    backgroundColor: window.chartColors.red     //bar Color
                },
                {
                    label: 'dataset2',
                    data: [-1, 22, 5, 3, 2],
                    backgroundColor: window.chartColors.blue
                }
            ],
        },
        options: {                                               //chart Option
            plugins: {
            },
            elements: {
              bar: {
                borderWidth: 2,
              }
            },
            title: {
                display: true,
                text: 'HorizonTalBar Chart Sample'
            },
             legend: {
                position : 'bottom'
             },
             responsive : true
        },
    };
    //화면 로드시 실행 함수
    window.onload = function() {
        var doughnutCanvas = document.getElementById('doughnut-chart').getContext('2d');
        var lineCanvas = document.getElementById('line-chart').getContext('2d');
        var barCanvas = document.getElementById('bar-chart').getContext('2d');
        var horizonTalBarCanvas = document.getElementById('horizonTalBar-chart').getContext('2d');

        window.myDoughnut = new Chart(doughnutCanvas, doughnutConfig);
        window.myLine = new Chart(lineCanvas, lineConfig);
        window.myBar = new Chart(barCanvas, barConfig);
        window.myHBar = new Chart(horizonTalBarCanvas, horizonTalBarConfig);
    };
</script>
{% endblock %}
