{% extends "base.html" %}
{% load static %}
{% block content %}
<!-- Dashboard CSS -->
<div class="container-fluid mb-4">
	<!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-2 text-gray-800">
            <i class="fas fa-fw fa-table"></i>
            <span class="text">Chart Sample</span>
        </h1>
    </div>
	<div class="row">
        <canvas class="my-4 w-100" id="doughnut-chart" width="900" height="400"></canvas>
    </div>
</div>
{% endblock %}
{% block script %}
<script type='text/javascript'>
    const doughnutConfig = {
        type: 'doughnut',
        data: {
            labels: ['red', 'blue', 'yellow', 'green', 'orange'],
            datasets: [{
                data: [5, 6, 7, 1, 10],
               label: 'Board Count',
                backgroundColor: [
                    window.chartColors.red,
                    window.chartColors.blue,
                    window.chartColors.yellow,
                    window.chartColors.green,
                    window.chartColors.orange,
			    ]
            }],
        },
        options: {
            plugins: {
                doughnutlabel: {
                    labels: [
                        {
                            text: 'getTotal'
                        },
                        {
                            text: '1'
                        }
                    ]
                },
                outlabels: {
                    text: '%l :  %v',
                    borderRadius: 15,
                    color: 'black',
                    stretch: 20,
                    font: {
                        resizable: true,
                        minSize: 12,
                        maxSize: 18
                    },
                    textAlign: "center"
                }
            },
            title: {
                display: true,
                text: 'Doughnut Chart Sample'
            },
             legend: {
                position : 'right'
             },
             responsive : true,
			cutoutPercentage: 80
        },
    };

    window.onload = function() {
        var doughnutCanvas = document.getElementById('doughnut-chart').getContext('2d');
        window.myDoughnut = new Chart(doughnutCanvas, doughnutConfig);
    };
</script>
{% endblock %}