{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container my-3" style="padding-top:80px">
<div class="col-md-8 order-md-1">
    <h4 class="mb-3">OCR Test</h4>
    <form method="post" class="post-form my-3">
        {% csrf_token %}
        <!-- 오류표시 Start -->
        {% if form.errors %}
            <div class="alert alert-danger" role="alert">
            {% for field in form %}
                {% if field.errors %}
                <strong>{{ field.label }}</strong>
                {{ field.errors }}
                {% endif %}
            {% endfor %}
            </div>
        {% endif %}
        <div class="form-group">
            <div class="col-md-12 mb-3">
                <label for="image_path">이미지 경로</label>
                <input type="text" class="form-control" id="image_path" name="image_path" value="upload/2021/04/26/">
            </div>
        </div>
        <hr class="mb-4">
        <button class="btn btn-primary btn-lg btn-block" type="submit">분석 실행</button>

        <div class="form-group">
            <div class="col-md-12 mb-3">
                <label for="image_path">분석 결과</label>
                <textarea class="form-control"name="result_text" id="result_text"
                          rows="10">{{ result_text|default_if_none:'' }}</textarea>
            </div>
        </div>
    </form>

</div>
{% endblock %}