{% extends 'base.html' %}
{% load board_filter %}
{% block content %}
<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">
        <i class="fas fa-fw fa-table"></i>
        <span class="text">기타 경비 분석</span>
    </h1>

    <!-- Content Row -->
    <div class="row">

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                실제 예산</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ act_amt }} 만원</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                현재 실적</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ use_amt }} 만원</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                                가용 예산</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ rem_amt }} 만원</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                목표 실적</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ gol_amt }} 만원</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Content Row -->

    <div class="row">
        <!-- EX Chart 2-1 -->
        <div class="col-xl-6 col-lg-4">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div
                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">부서 상위 현황</h6>
                    <!--
                    <div class="dropdown no-arrow">
                        <a class="dropdown-toggle" href="#" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                            aria-labelledby="dropdownMenuLink">
                            <div class="dropdown-header">조회기간 :</div>
                            <a class="dropdown-item" href="#">최근 3개월</a>
                            <a class="dropdown-item" href="#">최근 6개월</a>
                        </div>
                    </div>
                    -->
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="chart-area">
                        <canvas id="barChart1"></canvas>
                    </div>
                    <hr>
                    당월 부서 경비 상위 5
                </div>
            </div>
        </div>

        <!-- EX Chart 2-2 -->
        <div class="col-xl-6 col-lg-4">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div
                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">예산 현황</h6>
                    <!--
                    <div class="dropdown no-arrow">
                        <a class="dropdown-toggle" href="#" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                            aria-labelledby="dropdownMenuLink">
                            <div class="dropdown-header">조회기간 :</div>
                            <a class="dropdown-item" href="#">최근 3개월</a>
                            <a class="dropdown-item" href="#">최근 6개월</a>
                        </div>
                    </div>
                    -->
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="chart-area">
                        <canvas id="barChart2"></canvas>
                    </div>
                    <hr>
                    당월 예산 지출 현황
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script type='text/javascript'>

    const barChartConfig1 = {
        type: 'bar',
        data: {
            labels: {{ top5_label|safe }},   //라벨 명칭
            datasets: [{
                data: {{ top5_data|safe }},                             //데이터
                backgroundColor: ['#4e73df', '#36b9cc', '#1cc88a', '#f6c23e', '#e74a3b'],
                hoverBackgroundColor: ['#2e59d9', '#2c9faf', '#169b6b', '#f4b619', '#e02d1b'],
            }],
        },
        options: {                                               //chart Option
            responsive: true,
            maintainAspectRatio: false,
            layout: {
                padding: {
                    left: 10,
                    right: 25,
                    top: 25,
                    bottom: 0
                }
            },
            scales: {
                xAxes: [{
                        gridLines: {
                            display: false,
                            drawBorder: false
                        },
                        ticks: {
                            maxTicksLimit: 6,
                            callback: function(value, index, values) {
                                return [value.substr(0, 10) , value.substr(10)];
                            }
                        },
                        maxBarThickness: 70,
                }],
                yAxes: [{
                    gridLines: {
                        color: "rgb(234, 236, 244)",
                        zeroLineColor: "rgb(234, 236, 244)",
                        drawBorder: false,
                        borderDash: [2],
                        zeroLineBorderDash: [2]
                    },
                    ticks: {
                        maxTicksLimit: 4,
                        callback: function(value, index, values) {
                            return Number(value).toLocaleString();
                        }
                    },
                }]
            },
            legend: {
                display: false
            },
            tooltips: {
                titleMarginBottom: 10,
                titleFontColor: '#6e707e',
                titleFontSize: 14,
                backgroundColor: "rgb(255,255,255)",
                bodyFontColor: "#858796",
                borderColor: '#dddfeb',
                borderWidth: 1,
                xPadding: 15,
                yPadding: 15,
                displayColors: false,
                caretPadding: 10,
                callbacks: {
                    label: function(tooltipItem, chart) {
                        return Number(tooltipItem.yLabel).toLocaleString() + ' 만원';
                    }
                }
            },
            responsive: true,
            maintainAspectRatio: false
        },
    };

    const barChartConfig2 = {
        type: 'horizontalBar',
        data: {
            labels: ['실제예산', '지출실적', '목표지출실적'],
            datasets: [
                {
                    label: 'KRW/원',
                    data: {{ budget_data|safe }},
                    backgroundColor: ['#36b9cc', '#1cc88a', '#4e73df'],
                    hoverBackgroundColor: ['#2c9faf', '#169b6b', '#2e59d9'],
                }
            ],
        },
        options: {
            responsive: true,
            maintainAspectRatio: false,
            layout: {
                padding: {
                    left: 10,
                    right: 25,
                    top: 25,
                    bottom: 0
                }
            },
            scales: {
                xAxes: [{
                    gridLines: {
                        color: "rgb(234, 236, 244)",
                        zeroLineColor: "rgb(234, 236, 244)",
                        drawBorder: false,
                        borderDash: [2],
                        zeroLineBorderDash: [2]
                    },
                    ticks: {
                        maxTicksLimit: 4,
                        callback: function(value, index, values) {
                            return Number(value).toLocaleString();
                        }
                    }
                }],
                yAxes: [{
                    gridLines: {
                        display: false,
                        drawBorder: false
                    },
                    maxBarThickness: 50,
                }]
            },
            legend: {
                display: false
            },
            tooltips: {
                titleMarginBottom: 10,
                titleFontColor: '#6e707e',
                titleFontSize: 14,
                backgroundColor: "rgb(255,255,255)",
                bodyFontColor: "#858796",
                borderColor: '#dddfeb',
                borderWidth: 1,
                xPadding: 15,
                yPadding: 15,
                displayColors: false,
                caretPadding: 10,
                callbacks: {
                    label: function(tooltipItem, chart) {
                        return Number(tooltipItem.xLabel).toLocaleString() + ' 만원';
                    }
                }
            }
        }
    };

    window.onload = function() {
        var barCanvas1 = document.getElementById('barChart1').getContext('2d');
        var barCanvas2 = document.getElementById('barChart2').getContext('2d');
        var barChart1 = new Chart(barCanvas1, barChartConfig1);
        var barChart2 = new Chart(barCanvas2, barChartConfig2);
    };

</script>
{% endblock %}