{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container-fluid">

    <h1 class="h3 mb-2 text-gray-800">
        <i class="fas fa-fw fa-table"></i>
        <span class="text">영수증 OCR 분석</span>
    </h1>

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">경비 등록 예제</h6>
        </div>

        <div class="card-body">
            <div class="row my-3">
                <div class="col-2">
                    {% if result_image %}
                    <a href="#" onclick="javascript:openPopup('result')">
                        <img id="resultImage" width="100%" height="300" src="/{{ result_image }}"/>
                    </a>
                    {% else %}
                    <a href="#" onclick="javascript:openPopup('result')">
                        <img id="tempImage" width="100%" height="300" src="{{ target_image }}">
                    </a>
                    {% endif %}
                </div>

                <div class="col-10">
                    <div class="form-group row">
                        <label for="doc_date" class="col-sm-2 col-form-label">증빙일</label>
                        <div class="col-sm-5">
                            <input type="date" class="col-sm-5 form-control" name="doc_date" id="doc_date">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="tot_amt" class="col-sm-2 col-form-label">총지급액</label>
                        <div class="col-sm-2">
                            <select id="tot_amt_list" class="custom-select custom-select form-control form-control d-block" onselect="totAmtListChange()">
                                {% if result_list %}
                                {% for result in result_list %}
                                <option value="{{ result.data }}" >{{ result.label }}</option>
                                {% endfor %}
                                {% else %}
                                <option value="0" >N/A</option>
                                {% endif %}
                            </select>
                        </div>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" name="tot_amt" id="tot_amt" value="0" style="text-align:right;" onchange="totAmtChange()">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="supply_amt" class="col-sm-2 col-form-label">공급가액</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" name="supply_amt" id="supply_amt" value="0" style="text-align:right;" readonly>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="tax_amt" class="col-sm-2 col-form-label">부가세</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" name="tax_amt" id="tax_amt" value="0" style="text-align:right;" readonly>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">영수증 샘플 이미지 목록</h6>
        </div>

        <div class="card-body">
            <div class="row my-3">
                <div class="col-10">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th class="text-center" width="90">번호</th>
                                <th class="text-center">파일명</th>
                                <th class="text-center">사이즈</th>
                                <th class="text-center">확장자</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if file_list %}
                            {% for file in file_list %}
                            <tr class="text-center">
                                <td>{{ file.no }}</td>
                                <td class="text-center">
                                    <a href="#" onclick="showImage('{{ file.file_path }}', '{{ file.file_name }}')">{{ file.file_name }}</a>
                                </td>
                                <td class="text-center">{{ file.size }}</td>
                                <td class="text-center">{{ file.type }}</td>
                            </tr>
                            {% endfor %}
                            {% else %}
                            <tr>
                                <td colspan="4" class="text-center">샘플 파일이 존재하지 않습니다.</td>
                            </tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div>
                <div class="col-2">
                    <a href="#" onclick="javascript:openPopup('sample')">
                        <img id="sampleImage" width="100%" height="300" src="{{ target_image }}">
                    </a>
                </div>
            </div>

            <div class="row border-top py-2">
                <div class="col-sm-12 col-md-5">
                    <a href="javascript:doImageAnalysis()" class="btn btn-primary btn-icon-split">
                        <span class="icon text-white-50">
                            <i class="fas fa-arrow-right"></i>
                        </span>
                        <span class="text">분석하기</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<form id="mainForm" method="post">
    {% csrf_token %}
    <input type="hidden" id="imagePath" name="image_path">
</form>

<form id="popupForm" method="post" action="{% url 'common:popup_image' %}">
    {% csrf_token %}
    <input type="hidden" id="type" name="type">
    <input type="hidden" id="name" name="name">
</form>

{% endblock %}
{% block script %}
<script type='text/javascript'>
    window.onload = function(){
        totAmtListChange();
    }

    function showImage(file_path, file_name) {
        var sample_image = document.getElementById("sampleImage");
        var image_path   = document.getElementById("imagePath");
        sample_image.src = "/" + file_path;
        image_path.value = file_path;
    }

    function doImageAnalysis() {
        var main_form = document.getElementById("mainForm");
        main_form.submit();
    }

    function totAmtListChange() {
        var select = document.getElementById("tot_amt_list");

        if (select.selectedIndex >= 0) {
            var tot_amt = select.options[select.selectedIndex].value;

            document.getElementById("tot_amt").value = Number(tot_amt).toLocaleString();
            document.getElementById("supply_amt").value = (tot_amt - (tot_amt / 10)).toLocaleString();
            document.getElementById("tax_amt").value = (tot_amt / 10).toLocaleString();
        }
    }

    function totAmtChange() {
        var tot_amt = document.getElementById("tot_amt").value.replace(/,/g, "");

        document.getElementById("tot_amt").value = Number(tot_amt).toLocaleString();
        document.getElementById("supply_amt").value = (tot_amt - (tot_amt / 10)).toLocaleString();
        document.getElementById("tax_amt").value = (tot_amt / 10).toLocaleString();
    }

    function openPopup(type) {
        if (type == "sample") {
            var sample_image_src = document.getElementById("sampleImage").src;
            if (sample_image_src.indexOf("/static/images/noimg.jpg") > 0) {
                alert("No Image");
                return;
            }
            document.getElementById("name").value = sample_image_src;
        } else {
            var result_image = document.getElementById("resultImage");
            if (result_image == null) {
                alert("No Image");
                return;
            }
            document.getElementById("name").value = result_image.src;
        }

        document.getElementById("type").value = type

        var popupForm = document.getElementById("popupForm");
        window.open("", "image_popup", "top=10, left=10, width==800, height=800")
        popupForm.target = "image_popup";
        popupForm.submit();
    }
</script>
{% endblock %}