{% extends 'base.html' %}
{% load board_filter %}
{% block content %}
<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">
        <div class="row">
            <div class="col mr-2">
                <i class="fas fa-fw fa-table"></i>
                <span class="text">일반/법인카드 경비분석</span>
            </div>
            <div class="col-auto">
                <select id="target_ym" name="target_ym" class="custom-select custom-select form-control form-control d-block">
                </select>
            </div>
        </div>
    </h1>

    <!-- Content Row -->
    <div class="row">
        <!-- exChart1 -->
        <div class="col-xl-5 col-lg-4">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">법인카드 Category Top 10</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="chart-area">
                        <canvas id="exChart1"></canvas>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-xl-9">전월 법인카드 지출경비 상위 10</div>
                        <div class="col-xl-3" style="text-align:right;">(단위: 만원)</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-7 col-lg-4">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">법인카드 Category Trend Line</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="chart-area">
                        <canvas id="exChart2"></canvas>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-xl-9">법인카드 최근 6개월 상위 10 증감 추이</div>
                        <div class="col-xl-3" style="text-align:right;">(단위: 만원)</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Content Row -->
    <div class="row">
        <!-- exChart2 -->
        <div class="col-xl-4 col-lg-4">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">경비 Average and Now</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="chart-area">
                        <canvas id="exChart3"></canvas>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-xl-9">전체경비 평균지출 대비 현지출</div>
                        <div class="col-xl-3" style="text-align:right;">(단위: 만원)</div>
                    </div>
                </div>
            </div>
        </div>
        <!-- exChart3 -->
        <div class="col-xl-4 col-lg-4">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">경비 Monthly 증감 현황</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="chart-area">
                        <canvas id="exChart4"></canvas>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-xl-9">전체경비 월별 증감 추이</div>
                        <div class="col-xl-3" style="text-align:right;">(단위: 만원)</div>
                    </div>
                </div>
            </div>
        </div>

        <!-- exChart4 -->
        <div class="col-xl-4 col-lg-4">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">경비 Year/Month 비교</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="chart-area">
                        <canvas id="exChart5"></canvas>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-xl-9">전체경비 전년, 전월 비교</div>
                        <div class="col-xl-3" style="text-align:right;">(단위: 만원)</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Content Row -->
    <div class="row">
        <!-- exChart1 -->
        <div class="col-xl-5 col-lg-4">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">일반경비 키워드 Top 10</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="chart-area">
                        <canvas id="exChart6"></canvas>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-xl-9">일반경비 최근 3개월 키워드 상위 10 분포</div>
                        <div class="col-xl-3" style="text-align:right;">(단위: 건)</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-7 col-lg-4">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">일반경비 키워드 별 지출 현황</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="chart-area">
                        <canvas id="exChart7"></canvas>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-xl-9">전월 일반경비 키워드 별 금액 비교</div>
                        <div class="col-xl-3" style="text-align:right;">(단위: 만원)</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<form id="searchForm" method="get" action="{% url 'analysis:normal_exp_analy' %}">
    <input type="hidden" id="month" name="month" value="{{ month }}">
</form>
{% endblock %}
{% block script %}
<script type='text/javascript'>
    const exChartConfig1 = {                                        //https://www.chartjs.org/docs/2.9.4/charts/bar.html
        type: 'doughnut',                                           //Chart Type ex: doughnut, pie, line, bar ...
        data: {                                                     //Data Setting
            labels: {{ top10_label|safe }},   //라벨 명칭
            datasets: [{
                data: {{ top10_data|safe }},                        //데이터
                backgroundColor: Samples.utils.colors(10),
                hoverBorderColor: "rgba(234, 236, 244, 1)",
            }],
        },
        options: {
            responsive: true,
			cutoutPercentage: 80,
			maintainAspectRatio: false,
			layout: {
                padding: {
                    left: 10,
                    right: 25,
                    top: 25,
                    bottom: 0
                }
            },
            plugins: {
                doughnutlabel: {
                    labels: [
                        {
                            text: '상위 Top10 합계',
                            font: {
                                size: '20',
                                weight: 'bold',
                            },
                            color: '#6e707e'
                        },
                        {
                            text: '{{ top10_sum }} 만원',
                            font: {
                                size: '15'
                            },
                            color: '#6e707e'
                        }
                    ]
                },
            },
            tooltips: {
                titleMarginBottom: 10,
                titleFontColor: '#6e707e',
                titleFontSize: 14,
                backgroundColor: "rgb(255,255,255)",
                bodyFontColor: "#858796",
                borderColor: '#dddfeb',
                borderWidth: 1,
                xPadding: 15,
                yPadding: 15,
                displayColors: false,
                caretPadding: 10,
                callbacks: {
                    label: function(tooltipItem, data) {
                        var dataset = data.datasets[tooltipItem.datasetIndex];
                        var currentValue = dataset.data[tooltipItem.index];
                        return Number(currentValue).toLocaleString() + ' 만원';
                    }
                }
            },
            legend: {
                position: 'right'
            },
        }
    };

    const exChartConfig2 = {                                    //https://www.chartjs.org/docs/2.9.4/charts/bar.html
        type: 'line',                                           //Chart Type ex: doughnut, pie, line, bar ...
        data: {                                                 //Data Setting
            labels: {{ top10_monthly_label|safe }},             //라벨 명칭
            datasets: [
            {% if top10_monthly_data_list %}
            {% for monthly_data in top10_monthly_data_list %}
                {
                    label: '{{ monthly_data.label|safe }}',
                    data: {{ monthly_data.data|safe }},
                    borderColor: Samples.utils.color({{forloop.counter0}}),
                    fill: false,
                    lineTension: 0.25,
                },
            {% endfor %}
            {% endif %}
            ],
        },
        options: {                                               //chart Option
            responsive: true,
            maintainAspectRatio: false,
            layout: {
                padding: {
                    left: 10,
                    right: 25,
                    top: 25,
                    bottom: 0
                }
            },
            legend: {
                display: 'true',
                position : 'right'
            },
            scales: {
                xAxes: [{
                    ticks: {
                        userCallback: function (value, index, values) {
                            return value.substr(0, 4) + '-' + value.substr(4, 2);
                        }
                    },
                    gridLines: {
                        display: false,
                        drawBorder: false
                    }
                }],
                yAxes: [{
                    ticks: {
                        maxTicksLimit: 5,
                        padding: 10,
                        userCallback: function (value, index, values) {
                            return Number(value).toLocaleString();
                        }
                    },
                    gridLines: {
                        color: "rgb(234, 236, 244)",
                        zeroLineColor: "rgb(234, 236, 244)",
                        drawBorder: false,
                        borderDash: [2],
                        zeroLineBorderDash: [2]
                    }
                }],

            },
            tooltips: {
                titleMarginBottom: 10,
                titleFontColor: '#6e707e',
                titleFontSize: 14,
                backgroundColor: "rgb(255,255,255)",
                bodyFontColor: "#858796",
                borderColor: '#dddfeb',
                borderWidth: 1,
                xPadding: 15,
                yPadding: 15,
                displayColors: false,
                caretPadding: 10,
                callbacks: {
                    title: function(tooltipItem, data) {
                        return tooltipItem[0].xLabel.substr(0, 4) + '-' + tooltipItem[0].xLabel.substr(4, 2);
                    },
                    label: function(tooltipItem, data) {
                        return ' ' + data.datasets[tooltipItem.datasetIndex].label + ' : ' + Number(tooltipItem.yLabel).toLocaleString() + ' 만원';
                    },
                },
            },
        },
    };

    const exChartConfig3 = {                                    //https://www.chartjs.org/docs/2.9.4/charts/bar.html
        type: 'horizontalBar',                                  //Chart Type ex: doughnut, pie, line, bar ...
        data: {                                                 //Data Setting
            labels: ['월 평균', '당월 승인 합계'],                 //라벨 명칭
            datasets: [
                {
                    data: {{ avg_data|safe }},                  //데이터
                    backgroundColor: ['#f6c23e', '#e74a3b'],
                    hoverBackgroundColor: ['#f4b619', '#e02d1b'],
                }
            ],
        },
        options: {
            responsive: true,
            maintainAspectRatio: false,
            layout: {
                padding: {
                    left: 10,
                    right: 25,
                    top: 25,
                    bottom: 0
                }
            },
            scales: {
                xAxes: [{
                    gridLines: {
                        color: "rgb(234, 236, 244)",
                        zeroLineColor: "rgb(234, 236, 244)",
                        drawBorder: false,
                        borderDash: [2],
                        zeroLineBorderDash: [2]
                    },
                    ticks: {
                        maxTicksLimit: 5,
                        suggestedMin: 0,
                        callback: function(value, index, values) {
                            return Number(value).toLocaleString();
                        }
                    },
                }],
                yAxes: [{
                    gridLines: {
                        display: false,
                        drawBorder: false
                    },
                    maxBarThickness: 50,
                }]
            },
            legend: {
                display: false
            },
            tooltips: {
                titleMarginBottom: 10,
                titleFontColor: '#6e707e',
                titleFontSize: 14,
                backgroundColor: "rgb(255,255,255)",
                bodyFontColor: "#858796",
                borderColor: '#dddfeb',
                borderWidth: 1,
                xPadding: 15,
                yPadding: 15,
                displayColors: false,
                caretPadding: 10,
                callbacks: {
                    label: function(tooltipItem, chart) {
                        return Number(tooltipItem.xLabel).toLocaleString() + ' 만원';
                    }
                }
            }
        }
    };

    const exChartConfig4 = {                                    //https://www.chartjs.org/docs/2.9.4/charts/bar.html
        type: 'line',                                           //Chart Type ex: doughnut, pie, line, bar ...
        data: {                                                 //Data Setting
            labels: {{ monthly_label|safe }},             //라벨 명칭
            datasets: [
                {
                    data: {{ monthly_data|safe }},
                    borderColor: Samples.utils.color(3),
                    fill: false,
                    lineTension: 0.25,
                },
            ],
        },
        options: {                                               //chart Option
            responsive: true,
            maintainAspectRatio: false,
            layout: {
                padding: {
                    left: 10,
                    right: 25,
                    top: 25,
                    bottom: 0
                }
            },
            legend: {
                display: false,
            },
            scales: {
                xAxes: [{
                    ticks: {
                        userCallback: function (value, index, values) {
                            return value.substr(0, 4) + '-' + value.substr(4, 2);
                        }
                    },
                    gridLines: {
                        display: false,
                        drawBorder: false
                    }
                }],
                yAxes: [{
                    ticks: {
                        maxTicksLimit: 5,
                        padding: 10,
                        userCallback: function (value, index, values) {
                            return Number(value).toLocaleString();
                        }
                    },
                    gridLines: {
                        color: "rgb(234, 236, 244)",
                        zeroLineColor: "rgb(234, 236, 244)",
                        drawBorder: false,
                        borderDash: [2],
                        zeroLineBorderDash: [2]
                    }
                }],

            },
            tooltips: {
                titleMarginBottom: 10,
                titleFontColor: '#6e707e',
                titleFontSize: 14,
                backgroundColor: "rgb(255,255,255)",
                bodyFontColor: "#858796",
                borderColor: '#dddfeb',
                borderWidth: 1,
                xPadding: 15,
                yPadding: 15,
                displayColors: false,
                caretPadding: 10,
                callbacks: {
                    title: function(tooltipItem, data) {
                        return tooltipItem[0].xLabel.substr(0, 4) + '-' + tooltipItem[0].xLabel.substr(4, 2);
                    },
                    label: function(tooltipItem, data) {
                        return ' ' + Number(tooltipItem.yLabel).toLocaleString() + ' 만원';
                    },
                },
            },
        },
    };

    const exChartConfig5 = {                                    //https://www.chartjs.org/docs/2.9.4/charts/bar.html
        type: 'bar',                                            //Chart Type ex: doughnut, pie, line, bar ...
        data: {                                                 //Data Setting
            labels: {{ monthly_year_label|safe }},              //라벨 명칭
            datasets: [
                {
                    data: {{ monthly_year_data|safe }},          //데이터
                    backgroundColor: ['#1cc88a', '#36b9cc', '#4e73df'],
                    hoverBackgroundColor: ['#169b6b', '#2c9faf', '#2e59d9'],
                }
            ],
        },
        options: {                                               //chart Option
            responsive: true,
            maintainAspectRatio: false,
            layout: {
                padding: {
                    left: 10,
                    right: 25,
                    top: 25,
                    bottom: 0
                }
            },
            scales: {
                xAxes: [{
                        gridLines: {
                            display: false,
                            drawBorder: false
                        },
                        ticks: {
                            maxTicksLimit: 6,
                            callback: function(value, index, values) {
                                return value.substr(0, 4) + '-' + value.substr(4, 2);
                            }
                        },
                        maxBarThickness: 50,
                }],
                yAxes: [{
                    gridLines: {
                        color: "rgb(234, 236, 244)",
                        zeroLineColor: "rgb(234, 236, 244)",
                        drawBorder: false,
                        borderDash: [2],
                        zeroLineBorderDash: [2]
                    },
                    ticks: {
                        maxTicksLimit: 5,
                        callback: function(value, index, values) {
                            return Number(value).toLocaleString();
                        }
                    }
                }]
            },
            legend: {
                display: false
            },
            tooltips: {
                titleMarginBottom: 10,
                titleFontColor: '#6e707e',
                titleFontSize: 14,
                backgroundColor: "rgb(255,255,255)",
                bodyFontColor: "#858796",
                borderColor: '#dddfeb',
                borderWidth: 1,
                xPadding: 15,
                yPadding: 15,
                displayColors: false,
                caretPadding: 10,
                callbacks: {
                    title: function(tooltipItem, data) {
                        return tooltipItem[0].xLabel.substr(0, 4) + '-' + tooltipItem[0].xLabel.substr(4, 2);
                    },
                    label: function(tooltipItem, chart) {
                        return Number(tooltipItem.yLabel).toLocaleString() + ' 만원';
                    }
                }
            },
        },
    };

    const exChartConfig6 = {                                        //https://www.chartjs.org/docs/2.9.4/charts/bar.html
        type: 'doughnut',                                           //Chart Type ex: doughnut, pie, line, bar ...
        data: {                                                     //Data Setting
            labels: {{ keyword_cnt_label|safe }},                   //라벨 명칭
            datasets: [{
                data: {{ keyword_cnt_data|safe }},                  //데이터
                backgroundColor: Samples.utils.colors(10),
                hoverBorderColor: "rgba(234, 236, 244, 1)",
            }],
        },
        options: {
            responsive: true,
			cutoutPercentage: 80,
			maintainAspectRatio: false,
			layout: {
                padding: {
                    left: 10,
                    right: 25,
                    top: 25,
                    bottom: 0
                }
            },
            plugins: {
                doughnutlabel: {
                    labels: [
                        {
                            text: '키워드 상위 Top10',
                            font: {
                                size: '20',
                                weight: 'bold',
                            },
                            color: '#6e707e'
                        }
                    ]
                },
            },
            tooltips: {
                titleMarginBottom: 10,
                titleFontColor: '#6e707e',
                titleFontSize: 14,
                backgroundColor: "rgb(255,255,255)",
                bodyFontColor: "#858796",
                borderColor: '#dddfeb',
                borderWidth: 1,
                xPadding: 15,
                yPadding: 15,
                displayColors: false,
                caretPadding: 10,
                callbacks: {
                    label: function(tooltipItem, data) {
                        var dataset = data.datasets[tooltipItem.datasetIndex];
                        var currentValue = dataset.data[tooltipItem.index];
                        return Number(currentValue).toLocaleString() + ' 건';
                    }
                }
            },
            legend: {
                position: 'right'
            },
        }
    };

    const exChartConfig7 = {                                    //https://www.chartjs.org/docs/2.9.4/charts/bar.html
        type: 'bar',                                            //Chart Type ex: doughnut, pie, line, bar ...
        data: {                                                 //Data Setting
            labels: {{ keyword_amt_label|safe }},               //라벨 명칭
            datasets: [
                {
                    data: {{ keyword_amt_data|safe }},          //데이터
                    backgroundColor: Samples.utils.colors(10),
                    hoverBorderColor: "rgba(234, 236, 244, 1)",
                }
            ],
        },
        options: {                                               //chart Option
            responsive: true,
            maintainAspectRatio: false,
            layout: {
                padding: {
                    left: 10,
                    right: 25,
                    top: 25,
                    bottom: 0
                }
            },
            scales: {
                xAxes: [{
                        gridLines: {
                            display: false,
                            drawBorder: false
                        },
                        maxBarThickness: 50,
                }],
                yAxes: [{
                    gridLines: {
                        color: "rgb(234, 236, 244)",
                        zeroLineColor: "rgb(234, 236, 244)",
                        drawBorder: false,
                        borderDash: [2],
                        zeroLineBorderDash: [2]
                    },
                    ticks: {
                        maxTicksLimit: 5,
                        callback: function(value, index, values) {
                            return Number(value).toLocaleString();
                        }
                    },
                }]
            },
            legend: {
                display: false
            },
            tooltips: {
                titleMarginBottom: 10,
                titleFontColor: '#6e707e',
                titleFontSize: 14,
                backgroundColor: "rgb(255,255,255)",
                bodyFontColor: "#858796",
                borderColor: '#dddfeb',
                borderWidth: 1,
                xPadding: 15,
                yPadding: 15,
                displayColors: false,
                caretPadding: 10,
                callbacks: {
                    label: function(tooltipItem, chart) {
                        return Number(tooltipItem.yLabel).toLocaleString() + ' 만원';
                    }
                }
            },
        },
    };

    window.onload = function() {
        var exChartCanvas1 = document.getElementById('exChart1').getContext('2d');
        var exChartCanvas2 = document.getElementById('exChart2').getContext('2d');
        var exChartCanvas3 = document.getElementById('exChart3').getContext('2d');
        var exChartCanvas4 = document.getElementById('exChart4').getContext('2d');
        var exChartCanvas5 = document.getElementById('exChart5').getContext('2d');
        var exChartCanvas6 = document.getElementById('exChart6').getContext('2d');
        var exChartCanvas7 = document.getElementById('exChart7').getContext('2d');
        var exChart1 = new Chart(exChartCanvas1, exChartConfig1);
        var exChart2 = new Chart(exChartCanvas2, exChartConfig2);
        var exChart3 = new Chart(exChartCanvas3, exChartConfig3);
        var exChart4 = new Chart(exChartCanvas4, exChartConfig4);
        var exChart5 = new Chart(exChartCanvas5, exChartConfig5);
        var exChart6 = new Chart(exChartCanvas6, exChartConfig6);
        var exChart7 = new Chart(exChartCanvas7, exChartConfig7);

        var date = new Date();
        date.setMonth(date.getMonth() - 1);
        $("#target_ym").append("<option value='" + getFormatDate('data', date) + "'>" + getFormatDate('label', date) + "</option>");
        date.setMonth(date.getMonth() - 1);
        $("#target_ym").append("<option value='" + getFormatDate('data', date) + "'>" + getFormatDate('label', date) + "</option>");
        date.setMonth(date.getMonth() - 1);
        $("#target_ym").append("<option value='" + getFormatDate('data', date) + "'>" + getFormatDate('label', date) + "</option>");

        {% if month != '' %}
        $("#target_ym").val('{{ month }}');
        {% else %}
        var now = new Date();
        now.setMonth(now.getMonth() - 1);
        $("#target_ym").val(getFormatDate('data', now));
        {% endif %}
    };
    $("#target_ym").on('change', function() {
        $("#month").val($(this).val());
        $("#searchForm").submit();
    });
    function getFormatDate(type,date){
        var year = date.getFullYear();
        var month = (1 + date.getMonth());
        month = month >= 10 ? month : '0' + month;
        if (type == 'data')
            return year + '' + month;
        else
            return year + '-' + month;
    }
</script>
{% endblock %}
