<div class="modal fade" tabindex="-1" role="dialog" id="fileUploadModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form id="fileUploadForm" action="{% url 'common:file_upload' ref_type ref_id %}" method="post" enctype="multipart/form-data" class="post-form my-3">
                {% csrf_token %}
                <div class="modal-header">
                    <h5 class="modal-title">파일 업로드</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <!-- 오류표시 Start -->
                    {% if fileForm.errors %}
                        <div class="alert alert-danger" role="alert">
                        {% for field in fileForm %}
                            {% if field.errors %}
                            <strong>{{ field.label }}</strong>
                            {{ field.errors }}
                            {% endif %}
                        {% endfor %}
                        </div>
                    {% endif %}
                    <!-- 오류표시 End -->
                    <div class="form-group">
                        <p>
                            {{ fileForm.file_data.errors }}
                            {{ fileForm.file_data }}
                        </p>
                        <label>{{ fileForm.file_data.label_tag }} {{ fileForm.file_data.help_text }}</label>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                    <button id="file_upload_btn" type="button" class="btn btn-primary">업로드</button>
                </div>
            </form>
        </div>
    </div>
</div>