{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container my-3" style="padding-top:60px">
    <div class="row">
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <canvas id="myChart" width="400" height="400"></canvas>
                </div>
            </div>
        </div>
        <div class="col-8">
            <img src="{% static '/images/tlj_main.png' %}" class="img-fluid w-100">
        </div>
    </div>

    <div class="row my-3">
        <div class="col-sm col-lg-4 bg-info">
            One of three columns
        </div>
        <div class="col-sm col-lg-4 bg-secondary">
            One of three columns
        </div>
        <div class="col-sm col-lg-4 bg-warning">
            One of three columns
        </div>
    </div>
</div>

<script>
var ctx = document.getElementById('myChart');
var data = {
    labels: [
        'Red',
        'Yellow',
        'Blue'
    ],
    datasets: [{
        data: [10, 20, 30],
        backgroundColor: [ "#f79546", "#9bba57", "#4f81bb"],
        borderWidth: 0,
        label: "Dataset 1"
    }]
};

var myChart = new Chart(ctx, {
    type: 'doughnut',
    data: data
});
</script>

{% endblock %}