{% load static %}
<!doctype html>
<html lang="ko">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
    <!-- Bootstrap Icon CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <!-- Simplemde CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'simplemde.min.css' %}">
    <!-- DataTables Bootstrap4 CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'dataTables.bootstrap4.min.css' %}">
    <title>CJ One Expense</title>
</head>
<body>
<!-- Simplemde JS -->
<script src="{% static 'simplemde.min.js' %}"></script>
<!-- Chart JS -->
<script src="{% static 'chartjs-2.9.3.min.js' %}"></script>
<!-- Chart Utils -->
<script src="{% static 'chartjs-utils.js' %}"></script>
<!-- Top 네이게이션 영역 -->
{% include "navbar.html" %}
<!-- 기본 템플릿 안에 삽입될 내용 Start -->
{% block content %}
{% endblock %}
<!-- 기본 템플릿 안에 삽입될 내용 End -->
<!-- jQuery JS -->
<script src="{% static 'jquery-3.5.1.min.js' %}"></script>
<!-- jQuery DataTables JS -->
<script src="{% static 'jquery.dataTables.min.js' %}"></script>
<!-- DataTables Bootstrap4 JS -->
<script src="{% static 'dataTables.bootstrap4.min.js' %}"></script>
<!-- Bootstrap JS -->
<script src="{% static 'bootstrap.bundle.min.js' %}"></script>

<!-- 자바스크립트 Start -->
{% block script %}
{% endblock %}
<!-- 자바스크립트 End -->
</body>
</html>