<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom fixed-top">
    <div class="container">
        <a class="navbar-brand" href="/">CJFV DT Platform</a>
        <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    {% if user.is_authenticated %}
                    <a class="nav-link dropdown-toggle" href="{% url 'board:list' 1 %}" data-toggle="dropdown">게시판</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{% url 'board:list' 1 %}">Q & A 게시판</a>
                        <a class="dropdown-item" href="{% url 'board:list' 2 %}">자유게시판</a>
                    </div>
                    {% endif %}
                </li>
                <li class="nav-item dropdown">
                    {% if user.is_authenticated %}
                    <a class="nav-link dropdown-toggle" href="{% url 'board:list' 1 %}" data-toggle="dropdown">분석</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/common/index.html">CHART JS</a>
                    </div>
                    {% endif %}
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    {% if user.is_authenticated %}
                    <a class="nav-link" href="{% url 'common:logout' %}">{{ user.username }} (로그아웃)</a>
                    {% else %}
                    <a class="nav-link" href="{% url 'common:login' %}">로그인</a>
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>
</nav>