{% load static %}
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'common:main' %}">
        <div class="sidebar-brand-icon">
            <img src="{% static '/images/logo_cj_white.png' %}" class="img-fluid" style="height:50px;">
        </div>
        <div class="sidebar-brand-text mx-2">One Expense</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" href="{% url 'common:main' %}">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Nav Item - Pages Collapse Menu -->
    {% for root_menu in request.session.menu_list %}

        <!-- Heading -->
        <div class="sidebar-heading">
            {{ root_menu.title }}
        </div>

        {% for child_menu in root_menu.children %}
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#child_menu_{{ child_menu.id }}"
                aria-expanded="true" aria-controls="collapseOne">
                <i class="fas fa-fw fa-cog"></i>
                <span>{{ child_menu.title }}</span>
            </a>
            <div id="child_menu_{{ child_menu.id }}" class="collapse" aria-labelledby="headingOne" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">{{ child_menu.title }} :</h6>
                    {% for leaf_menu in child_menu.children %}
                        {% if leaf_menu.url is not null %}
                            {% if leaf_menu.argument is null %}
                                <a class="collapse-item" href="{% url leaf_menu.url %}">{{ leaf_menu.title }}</a>
                            {% else %}
                                <a class="collapse-item" href="{% url leaf_menu.url leaf_menu.argument %}">{{ leaf_menu.title }}</a>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </li>
        {% endfor %}
    {% endfor %}

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

    <!-- Sidebar Message -->

    <div class="sidebar-card">
        <img class="sidebar-card-illustration mb-2" width="150" src="https://www.gstatic.com/devrel-devsite/prod/v1674d466be3b1154327dd11cf186e748303b1e92ae31ff35df0f5192fbd777ea/cloud/images/cloud-logo.svg" alt="">
        <p class="text-center text-gray-800 mb-2"><strong>Cloud Vision API</strong>를 활용한 영수증 OCR 분석</p>
        <a class="btn btn-success btn-sm" href="https://cloud.google.com/vision">사이트 가기</a>
    </div>


</ul>