{% extends 'base.html' %}
{% block content %}
<div class="container my-3" style="padding-top:80px">
    <form method="post" class="post-form">
        {% csrf_token %}
        {% include "form_errors.html" %}
        <div class="form-group">
            <label for="content"><h2>답변내용</h2></label>
            <textarea class="form-control" name="content" id="content" 
                      rows="10">{{ form.content.value|default_if_none:'' }}</textarea>
            <script>
                var simplemde = new SimpleMDE({ element: document.getElementById("content") });
            </script>
        </div>
        <button type="submit" class="btn btn-primary">저장하기</button>
    </form>
</div>
{% endblock %}